doctype
html
  head
    title D3-Maps
    style.
      .axis path,
      .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
      }

      .axis text {
        font-family: sans-serif;
        font-size: 11px;
      }

      h1 {
        font-family: sans-serif;
        font-weight: 300;
        font-size: 1.8em;
      }
  body
    div
      p Show Labels
      select#label-option
        option(value="all") All
        option(value="minmax") Min/Max
        option(value="none") None
        
    script(src='/js/app.js')